.background{
  background-image: url("/asset/img/background.jpg");
}
.form-group{
  margin-left: 25px;
  margin-right: 25px;
}

#mainNav a.nav-link{
  color: #0000;
}


.gambar {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

img{
  width: 350px;
  height: 250px;
}

.project-name
{
  text-align: center;
}
.btn-primary{
  background-color: #f5b3a5;
  border-color: #f5b3a5;
}
.bungkus{
  padding-left: 370px;
  /* margin-left: 500px; */
  background-image: url("/asset/img/background.jpg");
}
.project-name{
  text-align: center;
}

.tulisan{
    text color: #f4429e;
    text-decoration: none;
}

p{
font-family: 'Poppins', sans-serif;
 text-align: inherit;
 margin-left: 35px;
 margin-right: 35px;

}
h1,h5{
  text-align: center;
}

.post{
  margin-left: 10px;
}
