

.form-group{
  margin-left: 25px;
  margin-right: 25px;
}

#mainNav a.nav-link{
  color: #0000;
}


gambar {
  height: 500px;
}

img{

  width: 300px;
  height: 250px;
}

.project-name
{
  text-align: center;
  margin-left: 100px;
}
.btn-primary{
  background-color: #f5b3a5;
  border-color: #f5b3a5;
}
.bungkus{
  margin-left: 500px;
}
